screen(minWidth, maxWidth)
    @media screen and (min-width: minWidth) and (max-width: maxWidth)
        {block}

max-screen(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}

min-screen(minWidth)
    @media screen and (min-width: minWidth)
        {block}

screen-height(minHeight, maxHeight)
    @media screen and (min-height: minHeight) and (max-height: maxHeight)
        {block}

max-screen-height(maxHeight)
    @media screen and (max-height: maxHeight)
        {block}

min-screen-height(minHeight)
    @media screen and (min-height: minHeight)
        {block}
