.post
  margin-bottom  $grid-gutter-width
  background  $white
  padding ($grid-gutter-width / 2)

  .post-title
    a
      text-decoration  none

  &.post-right
    .post-body order  2

    +min-screen($breakpoint-tablet-landscape)
      .post-body
        order  1

  .post-link
    text-decoration  $link-decoration
    font-weight  $font-weight-bold

    &:after
      content  " \21C1"



  .text-right .post-link:before
    content  "\21BD "


  .text-right .post-link:after
    content  ""




