.post
  display  flex
  flex-wrap  wrap
  margin-bottom  $grid-gutter-width

  .post-col
    position  relative
    width  100%

    &.post-body
      background  $white
      order  2
      flex  0 0 80%
      max-width 80%
      padding  ($grid-gutter-width / 2)

      &.wide
        flex 0 0 100%
        max-width 100%

      +min-screen($breakpoint-tablet-landscape)
          flex  0 0 70%
          max-width  70%
          order  2

  .post-title
    a
      text-decoration  none

  &.post-right
    .post-body order  2

    +min-screen($breakpoint-tablet-landscape)
      .post-body
        order  1

  .post-link
    text-decoration  $link-decoration
    font-weight  $font-weight-bold

    & after
      content  " \21C1"