// Colours

$white = #fff
$gray-100 = #f8f9fa
$gray-200 = #e9ecef
$gray-300 = #dee2e6
$gray-400 = #ced4da
$gray-500 = #adb5bd
$gray-600 = #6c757d
$gray-700 = #495057
$gray-800 = #343a40
$gray-900 = #212529
$black = #000
$blue = #007bff
$indigo = #6610f2
$purple = #6f42c1
$pink = #e83e8c
$red = #dc3545
$orange = #fd7e14
$yellow = #ffc107
$green = #28a745
$teal = #20c997
$cyan = #17a2b8

$body-bg = #bdc7ce
$body-color = $gray-900

// Fonts

$font-family-sans-serif = "PT Serif", serif
$font-family-impact = "Poppins", sans-serif
$font-family-monospace = SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
$font-family-base = $font-family-sans-serif

$font-size-base = 1rem // Assumes the browser default, typically `16px`
$font-size-lg = ($font-size-base * 1.25)
$font-size-sm = ($font-size-base * .875)

$font-weight-light = 300
$font-weight-normal = 400
$font-weight-bold = 700

$font-weight-base = $font-weight-normal
$line-height-base = 1.5

// Links

$link-color = $black
$link-decoration = none
$link-hover-color = lighten($cyan, 15%)
$link-hover-decoration = underline

// Spacing

$line-height-lg = 1.5
$line-height-sm = 1.5

$spacer = 1rem
$paragraph-padding-bottom = 1rem

$headings-padding-bottom = ($spacer / 2)
$headings-font-family = inherit
$headings-font-weight = 500
$headings-line-height = 1.2
$headings-color = inherit


// Borders

$border-width = 1px
$border-color = $gray-300

$border-radius = .25rem
$border-radius-lg = .3rem
$border-radius-sm = .2rem

$box-shadow-sm = 0 .125rem .25rem rgba($black, .075)
$box-shadow = 0 .5rem 1rem rgba($black, .15)
$box-shadow-lg = 0 1rem 3rem rgba($black, .175)

// Tables

$table-cell-padding = .75rem
$table-cell-padding-sm = .3rem

$table-bg = transparent
$table-accent-bg = rgba($black, .05)
$table-hover-bg = rgba($black, .075)
$table-active-bg = $table-hover-bg

$table-border-width = $border-width
$table-border-color = $gray-300

$table-head-bg = $gray-200
$table-head-color = $gray-700

$table-dark-bg = $gray-900
$table-dark-accent-bg = rgba($white, .05)
$table-dark-hover-bg = rgba($white, .075)
$table-dark-border-color = lighten($gray-900, 7.5%)
$table-dark-color = $white

$table-striped-order = odd
$table-caption-color = $gray-600


// Transitions

$transition-base = all .2s ease-in-out
$transition-fade = opacity .15s linear
$transition-collapse = height .35s ease


// Forms

$label-margin-bottom = .5rem


// Grid = columns

$grid-columns = 12
$grid-gutter-width = 30px

// Breakpoints

$breakpoint-tablet-portrait = 576px
$breakpoint-tablet-landscape = 992px
$breakpoint-desktop = 1200px